body{
	background-color: #333333;
}

#aboutMe{
	position: fixed;
	display: flex;
	top: 30%;
	width: 30%;
	height: 60%;
	left: 20%;
	background-color: #333333;
	text-align: center;
}
#photo{
	position: fixed;
	top: 30%;
	width: 20%;
	height: 60%;
	right: 20%;
	background-color: #333333;
}

#me{
	max-height:100%;
	max-width:40vw;
	height: auto;
}
#aboutMeTextContainer{

	min-height: 100px;
	display: inline-flex;
	align-items: center;
}

#aboutMeText{
	text-align: left;
	margin: 15px 10% 10% 10% ;
}

@media only screen and (max-width: 600px) {

#aboutMe{
	position: fixed;
	top: 20%;
	width: 70%;
	height: 70%;
	left: 15%;
	margin-top:0;
	background-color: #333333;
	text-align: center;
}

#photo{
	position: relative;
	visibility: hidden;
	top: 0;
	width: 0;
	height: 0;
	right: 0;
	background-color: #333333;
}
	
}
