.mainContainer{
	top: 30%;
	display: flex;
	position: relative;	
	flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
	height: 70%;
	align-self: stretch;
}
a{
	font-family:  Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 3.5vw;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
}

.projectContainer{
	margin-top: 25%;
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.projectElement{
	width: calc(100%  /3);
	height: 50%;
}
#projectH1{
	background-color: dodgerblue;
}
#projectH2{
	background-color: orangered;
}
#projectH3{
	background-color: violet;
}
#projectH4{
	background-color: yellow;
}
#projectH5{
	background-color: green;
}
#projectH6{
	background-color: #000000;
}